/* Portfolio Page */
.card-img:hover {
  transform: scale(1.04);
  text-decoration: none;
}

.card-body-img {
  background-color: #E76F51;
  margin-top: -12vh;
  height: 80px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #eee;
  text-align: center;
}

.card-description {
  background-color: transparent !important;
  border: none !important;
}

.card-text {
  padding: 25px;
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
}

.tech-info {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
}