/* Header Section */

.fixed-top {
  background: #264653;
  border: none;
  margin-bottom: 50px !important;
}

.navbar {
  padding: 0 !important;
}

  /* Kassi Stumb */
  .navbar-brand {
    font-size: 36px !important;
    color: #eee;
    background-color: #E76F51;
    border: none;
    padding: 20px !important;
  }

  .navbar-brand:focus {
    outline: none !important;
  }

  /* Links */

  .nav-link {
    color: #E76F51 !important;
    font-weight: bold;
    font-size: 28px;
    border: none;
    background: transparent;
  }
  
  .nav-link:hover {
    color: #eee !important;
  }

  .nav-link:focus {
    outline: none !important;
  }

/* Media Queries */

@media screen and (max-width: 767px) {

  .navbar-brand {
    margin: 0 auto !important;
    background-color: #264653;
    text-align: center;
  }

  .navbar-collapse {
    text-align: right;
    padding-right: 10px;
  }
}